*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #32bcd9;
    width: 100%;
}

.header-text{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f5bc19;
    font-size: xx-large;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#header-container{
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    grid-template-areas: "logo titulo";
}

.logo{
    grid-area: logo;
    max-height: 220px;
    padding-left: 30px;
}

body{
    background-image: url(img/miniamborgue_fundo.jpg);
}

.navbar{
    text-align: center;
    letter-spacing: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#colunas {
    display: grid;
    grid-template-columns: 300px 1fr 300px; 
    justify-content: center;
    align-items: start;
    padding: 40px 100px;
    gap: 20px;
}

.coluna1 {
    margin: 0 auto 0;
    position: sticky;
    top: calc(50vh - 400px + 20px); 
    height: 800px;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 2px 6px black;
}

.coluna2 {
    margin: 0 auto 0;
    position: sticky;
    top: calc(50vh - 400px + 20px); 
    height: 800px;
    width: 300px;
    border-radius: 6px;
    box-shadow: 0 2px 6px black;
}

.BoxM{
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transform: scale(1);
    transition: 0.3s ease;
}

.BoxM :hover{
    transform: scale(1.05);    
}

.Item{
    background: white;
    width: 750px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 6px black;
    flex-direction: column;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "titulo titulo" "imagem texto";
    gap: 20px;
    transform: scale(1);
    transition: 0.3s ease;
}

.Item :hover{
    transform: scale(1.005);
}

.Item h3{
    grid-area: titulo;
    text-align: center;
    font-size: x-large;
}

.texto {
    grid-area: texto;
    display: flex;
    flex-direction: column; 
}

.Item-molho{
    background: white;
    width: 600px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px black;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    transform: scale(1);
    transition: 0.3s ease;
}

.Item-molho :hover{
    transform: scale(1.005);
}

.preco {
    margin-top: 65px;
    font-weight: bold;
    font-size: x-large;
}

.preco2 {
    margin-top: 42px;
    font-weight: bold;
    font-size: x-large;
}

.button {
    background-color: #32bcd9;
    box-shadow: 0 2px 6px black;
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 10px;
    width: 150px;
    border-radius: 6px;
    font-weight: bold;
    font-size: larger;
    transform: scale(1.005);
    transition: 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
    background-color: #38cae7;
}

.produtos {
    max-width: 200px;
    height: 200px;
    display: flex;
    flex-direction: left;
}

#lanches-unitarios{
    scroll-margin-top: 50px;
    margin: auto auto 40px;
    width: 820px;
    background-color: #f5bc19;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px black;
    font-family: Arial, Helvetica, sans-serif;
}

#lanches-unitarios h2{
    text-align: center;
    font-size: xx-large;
}

#combos{
    scroll-margin-top: 50px;
    margin: 20px auto 0;
    width: 820px;
    margin-top: 20px;
    background-color: #f5bc19;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px black;
    font-family: Arial, Helvetica, sans-serif;
}

#combos h2{
    text-align: center;
    font-size: xx-large;
}

.descricao {
    text-align: justify;
    margin-right: 10px;
    font-size: larger;
}

#extras {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "texto texto"; 
    justify-content: center;
    gap: 30px;
    padding: 0 100px 10px;
}

.conteudos-extras {
    margin: auto auto 30px;
    width: auto;
    background-color: #f5bc19;
    display: grid;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 30px 30px;
    border-radius: 6px;
    box-shadow: 0 2px 6px black;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudos-extras h2{
    text-align: center;
    padding: 25px;
}

.sobre {
    background: white;
    width: 500px;
    height: 230px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px black;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}

.valores {
    background: white;
    width: 800px;
    height: 230px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 6px black;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
}

.texto2 {
    display: flex;
    flex-direction: column; 
}

.descricao2 {
    text-align: justify;
    margin-right: 10px;
    font-size: larger;
}

.menu{
    position: sticky;
    top: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #32bcd9;
    box-shadow: 0 6px 12px -8px black;
    padding: 6px;             
    width: 100%;           
    z-index: 1000;        
}

.menu a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 0.3s ease;
    padding: 4px;
}

.menu a:hover{
    color: black;
    text-decoration: none;
    background-color: #f5bc19;
    border-radius: 3px;
}

.menu li{
    display: inline;
    padding: 15px;
}

.rodape{
    background-color: #32bcd9;
    height: auto;
    padding-top: 10px;
    width: 100%;
    box-shadow: 0 2px 6px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.insta {
    height: 50px;
    width: 50px; 
    margin-bottom: 15px;
    display: flex;
}

.info {
    font-size: larger;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-align: center;
}

.carrossel {           
    overflow: hidden;   
    background: white;
    margin: 0 auto;
    border-radius: 6px;
}

.slides {
    display: flex;
    width: max-content;
    transition: transform 0.8s ease-in-out;
}

.slides img {
    flex-shrink: 0;
    object-fit: cover;
}

@media (max-width: 1024px) {

    #header-container {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    #colunas {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    .coluna1, .coluna2 {
        display: none; 
    }

    .Item, .Item-molho {
        width: 100%;
    }

    #extras {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px;
        padding: 0 20px;
    }

    .conteudos-extras {
        width: 100% !important;
    }

    .sobre, .valores {
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 768px) {

    #header-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .header-text {
        display: none;
    }

    .logo {
        width: 300px;
        margin: 0 auto;
    }

    .coluna1, .coluna2 {
        display: none;
    }

    #colunas {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .Item, #lanches-unitarios, #combos, .conteudos-extras {
        width: 100%;
    }

    #lanches-unitarios {
       margin-top: 20px;
    }

    #combos {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #extras {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px;
        padding: 0 20px;
    }

    .conteudos-extras {
        width: 100% !important;
    }

    .sobre, .valores {
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 480px) {

    .header-text {
        font-size: 1.4rem;
        padding: 30px 10px;
    }

    .menu li {
        display: block;
        padding: 10px;
    }

    .Item, .Item-molho {
        width: 100%;
        padding: 15px;
    }

    .sobre, .valores {
        width: 100%;
        display: flex;
        padding: 15px;
        height: auto;
    }

    #lanches-unitarios, #combos, .conteudos-extras {
        width: 100%;
        margin: 10px auto;
    }
}